In [1]:
PI = 3.14159265359 
print(f'{PI:.2f}')

3.14

In [2]:
PI = 3.14159265359 
print(f'{PI:.4f}')

3.1416

In [3]:
PI = 3.14159265359 
name = 'PI'
print('%s is %.2f' % (name, PI))  # oldest way format specifier is <width>.<precision><type>

PI is 3.14

In [4]:
PI = 3.14159265359 
name = 'PI'
print(('{0} is {1:.2f}'.format(name, PI)) ) #

PI is 3.14

In [5]:
# {<index/expression>:<format-specifier>}
# variable name or 2 + 2
PI = 3.14159265359 
name = 'PI'
print('{0} is {1:.2f}'.format(name, PI))# newer
print(f'{name} is {PI:.2f}') # newer

PI is 3.14
PI is 3.14

In [6]:
PI = 3.14159265359 
name = 'PI'
print('{0} is {1}'.format(name, PI))# newer
print(f'{name} is {PI}') # newer

PI is 3.14159265359
PI is 3.14159265359

In [ ]:
# <padding_character><alignment><width>.<comma><precision><type>

In [7]:
a_str = 'EAS503'
an_int = 113
a_float = 92.3
print(a_str, an_int, a_float)

EAS503 113 92.3

In [8]:
line1 = 'This is the first line.\n'
line2 = 'This is the second line.'
lines = line1 + line2
print(lines)

This is the first line.
This is the second line.

In [9]:
line = 'This is the first line.\n'
line += 'This is the second line.'
print(line)

This is the first line.
This is the second line.

In [10]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3

str_format = '{}'.format(course_number)
f_string = f'{course_number}'

print(str_format)
print(f_string)

EAS503
EAS503

In [11]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3

str_format = 'The course number is {}.'.format(course_number)
f_string = f'The course number is {course_number}.'

print(str_format)
print(f_string)

The course number is EAS503.
The course number is EAS503.

In [12]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {}. It has {} students.'.format(course_number, class_size)
f_string = f'The course number is {course_number}. It has {class_size} students.'

print(str_format)
print(f_string)

The course number is EAS503. It has 113 students.
The course number is EAS503. It has 113 students.

In [14]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {0}. It has {1} students.'.format(course_number, class_size)
f_string = f'The course number is {course_number}. It has {class_size} students.'

print(str_format)
print(f_string)

The course number is EAS503. It has 113 students.
The course number is EAS503. It has 113 students.

In [15]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {1}. It has {0} students.'.format(course_number, class_size)
f_string = f'The course number is {class_size}. It has {course_number} students.'

print(str_format)
print(f_string)

The course number is 113. It has EAS503 students.
The course number is 113. It has EAS503 students.

In [17]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {1}. It has {0} students.'.format(course_number, class_size, 1234, 'egh')

print(str_format)

The course number is 113. It has EAS503 students.

In [18]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {1}. It has {0} students. {}{}'.format(course_number, class_size, 1234, 'egh')

print(str_format)

ValueError: cannot switch from manual field specification to automatic field numbering

In [20]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {1}. It has {0} students. {2}{3}'.format(course_number, class_size, 1234, 'egh')

print(str_format)

The course number is 113. It has EAS503 students. 1234egh

In [21]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {}. It has {} students. {}{}'.format(course_number, class_size, 1234, 'egh')

print(str_format)

The course number is EAS503. It has 113 students. 1234egh

In [22]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {}. It has {} students. {}{}{}'.format(course_number, class_size, 1234, 'egh')

print(str_format)

IndexError: Replacement index 4 out of range for positional args tuple

In [23]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {0}. It has {1} students. The class average is {2}'.format(course_number, class_size, class_average)
f_string = f'The course number is {class_size}. It has {course_number} students. The class average is {class_average}.'

print(str_format)
print(f_string)

The course number is EAS503. It has 113 students. The class average is 92.3
The course number is 113. It has EAS503 students. The class average is 92.3.

In [24]:
# <padding_character><alignment><width>.<comma><precision><type>
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {0:10}. It has {1:10} students. The class average is {2:10}'.format(course_number, class_size, class_average)
f_string = f'The course number is {course_number:10}. It has {class_size:10} students. The class average is {class_average:10}.'

print(str_format)
print(f_string)

The course number is EAS503    . It has        113 students. The class average is       92.3
The course number is EAS503    . It has        113 students. The class average is       92.3.

In [25]:
print('EAS503    ')
print('-'*10)

EAS503
----------

In [27]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {0:>10}. It has {1:>10} students. The class average is {2:>10}'.format(course_number, class_size, class_average)
f_string = f'The course number is {course_number:>10}. It has {class_size:>10} students. The class average is {class_average:>10}.'

print(str_format)
print(f_string)

The course number is     EAS503. It has        113 students. The class average is       92.3
The course number is     EAS503. It has        113 students. The class average is       92.3.

In [28]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {0:<10}. It has {1:<10} students. The class average is {2:<10}'.format(course_number, class_size, class_average)
f_string = f'The course number is {course_number:<10}. It has {class_size:<10} students. The class average is {class_average:<10}.'

print(str_format)
print(f_string)

The course number is EAS503    . It has 113        students. The class average is 92.3
The course number is EAS503    . It has 113        students. The class average is 92.3      .

In [29]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {0:^10}. It has {1:^10} students. The class average is {2:^10}'.format(course_number, class_size, class_average)
f_string = f'The course number is {course_number:^10}. It has {class_size:^10} students. The class average is {class_average:^10}.'

print(str_format)
print(f_string)

The course number is   EAS503  . It has    113     students. The class average is    92.3
The course number is   EAS503  . It has    113     students. The class average is    92.3   .

In [32]:
print(f'{course_number:10}')
print('*'*10)

EAS503
**********

In [34]:
print(f'{course_number:^11}')
print('*'*11)

  EAS503
***********

In [35]:
print(f'{course_number:<11}')
print('*'*11)

EAS503
***********

In [36]:
print(f'{course_number:>11}')
print('*'*11)

     EAS503
***********

In [37]:
student_id = 223333

str_format = 'The number padded {} padded with zeros {:08}'.format(student_id, student_id)
f_string = f'The number padded {student_id} padded with zeros {student_id:08}'

print(str_format)
print(f_string)

The number padded 223333 padded with zeros 00223333
The number padded 223333 padded with zeros 00223333

In [40]:
student_id = 223333

str_format = 'The number padded {} padded with zeros {:-<8}'.format(student_id, student_id)
f_string = f'The number padded {student_id} padded with zeros {student_id:-<8}'

print(str_format)
print(f_string)

The number padded 223333 padded with zeros 223333--
The number padded 223333 padded with zeros 223333--

In [41]:
student_id = 223333

str_format = 'The number padded {} padded with zeros {:0<8}'.format(student_id, student_id)
f_string = f'The number padded {student_id} padded with zeros {student_id:0<8}'

print(str_format)
print(f_string)

The number padded 223333 padded with zeros 22333300
The number padded 223333 padded with zeros 22333300

In [42]:
student_id = 223333

str_format = 'The number padded {} padded with zeros {:*<8}'.format(student_id, student_id)
f_string = f'The number padded {student_id} padded with zeros {student_id:*<8}'

print(str_format)
print(f_string)

The number padded 223333 padded with zeros 223333**
The number padded 223333 padded with zeros 223333**

In [43]:
student_id = 223333

str_format = 'The number padded {} padded with zeros {:*8}'.format(student_id, student_id)
f_string = f'The number padded {student_id} padded with zeros {student_id:*8}'

print(str_format)
print(f_string)

ValueError: Invalid format specifier

In [44]:
number = 123456
f'{number:,}'

'123,456'

In [45]:
f'{3.5:.0f}'

'4'

In [46]:
f'{4.5:.0f}'

'4'

In [47]:
f'{4.5:.2f}'

'4.50'

In [48]:
round(4.5, 2)

4.5

In [49]:
f'{4.8999:.2f}'

'4.90'

In [50]:
round(4.8999, 2)

4.9

In [52]:
x = 1
y = 2
z = str(x) + ' ' + str(y)

In [53]:
z

'1 2'

In [54]:
f'{x} {y}'

'1 2'