In [1]:
'Aristotle'

'Aristotle'

In [2]:
"Aristotle"

'Aristotle'

In [8]:
print('''Should you want a string
    that crosses         multiple lines,
    Use matched triple quotes.''')

Should you want a string
    that crosses         multiple lines,
    Use matched triple quotes.

In [7]:
print('''
Should you want a string
    that crosses         multiple lines,
    Use matched triple quotes.''')

Should you want a string
    that crosses         multiple lines,
    Use matched triple quotes.

In [9]:
print('abbcd', 2, 3)

abbcd 2 3

In [10]:
print('abbcd', 2, 3, 3.14, '12324', 'efg')

abbcd 2 3 3.14 12324 efg

In [11]:
print('abbcd', 2, 3, 3.14, '12324', 'efg', sep='\n')

abbcd
2
3
3.14
12324
efg

In [12]:
print('abbcd', 2, 3, 3.14, '12324', 'efg', sep='-')

abbcd-2-3-3.14-12324-efg

In [13]:
print('abbcd', 2, 3, 3.14, '12324', 'efg', sep='-----')

abbcd-----2-----3-----3.14-----12324-----efg

In [14]:
print('abbcd', 2, 3, 3.14, '12324', 'efg', sep=' ')

abbcd 2 3 3.14 12324 efg

In [15]:
print('abbcd', 2, 3, 3.14, '12324', 'efg', sep='')

abbcd233.1412324efg

In [16]:
scientist = 'Issac Newton'
print(len(scientist))

12

In [17]:
mrn1 = '12345678'
len(mrn1)

8

In [18]:
mrn2 = '123456'
len(mrn2)

6

In [19]:
''

''

In [20]:
'Alan Turning' + ' ' + 'Grace Hopper'

'Alan Turning Grace Hopper'

In [21]:
'Alan Turning' + '; ' + 'Grace Hopper'

'Alan Turning; Grace Hopper'

In [22]:
'Alan Turning' + 'Grace Hopper'

'Alan TurningGrace Hopper'

In [23]:
'NH' + 3 # This will not work. You cannot add a str and int type.

TypeError: can only concatenate str (not "int") to str

In [24]:
'Four score and ' + 7 + ' years ago'

TypeError: can only concatenate str (not "int") to str

In [25]:
'Four score and ' + str(7) + ' years ago'

'Four score and 7 years ago'

In [26]:
'The value of PI is: ' + str(3.14)

'The value of PI is: 3.14'

In [27]:
print(int('0'))
print(int('11'))
print(int('-324'))
print(float('-324.40'))

0
11
-324
-324.4

In [28]:
print(int('-324.40'))

ValueError: invalid literal for int() with base 10: '-324.40'

In [29]:
int(324.40)

324

In [30]:
'AT' * 5

'ATATATATAT'

In [33]:
print('-' * 25)
print('John Doe')
print('-' * 25)
print('Jane Doe')

-------------------------
John Doe
-------------------------
Jane Doe

In [35]:
'I can\'t do this'

"I can't do this"

In [38]:
print('This is the first line\nThis is the next line')

This is the first line
This is the next line

In [39]:
print('This is the first line\tThis is the next line')

This is the first line	This is the next line

In [40]:
"He said, \"why?\""

'He said, "why?"'

In [41]:
number = input('Please enter a number: ')

Please enter a number: 25

In [42]:
number = input('Please enter a number:')

Please enter a number:25

In [43]:
number = input('Please enter a number: ')

Please enter a number: 25

In [45]:
type(number)

str

In [46]:
number = int(input('Please enter a number: '))

Please enter a number: 25

In [47]:
type(number)

int

In [48]:
number = int(input('Please enter a number: '))

Please enter a number: 3.14

ValueError: invalid literal for int() with base 10: '3.14'

In [49]:
number = int(input('Please enter a number: '))

Please enter a number: lol

ValueError: invalid literal for int() with base 10: 'lol'

In [53]:
number = 25
print(number)

25

In [50]:
def add(x, y):
    return x + y

In [51]:
add(12, 13)

25

In [52]:
def convert_celsius():
    fahrenheit = float(input('Please enter temperature in Fahrenheit: '))
    celsius =  (fahrenheit - 32.0) * 5.0 / 9.0  
    print('The temperature in celsius is: ', celsius)

In [55]:
convert_celsius()

Please enter temperature in Fahrenheit: 32
The temperature in celsius is:  0.0

In [56]:
convert_celsius()

Please enter temperature in Fahrenheit: 212
The temperature in celsius is:  100.0

In [57]:
str1 = 'eas'
str1 += '503'
print(str1)

eas503