In [3]:
# range(start, stop, step)
x = range(0,11,1)

In [4]:
print(x)

range(0, 11)

In [12]:
x = list(x)

In [13]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

In [18]:
values = [4, 10, 3, 8, -6]
for i in range(len(values)):
    print(i)

0
1
2
3
4

In [16]:
values = [4, 10, 3, 8, -6]
print(len(values))

5

In [17]:
list(range(5))

[0, 1, 2, 3, 4]

In [19]:
values = [4, 10, 3, 8, -6]
for i in range(len(values)):
    print(i, values[i])

0 4
1 10
2 3
3 8
4 -6

In [20]:
values = [4, 10, 3, 8, -6]
for value in(values):
    print(value)

4
10
3
8
-6

In [28]:
values = [4, 10, 3, 8, -6]
for index, value in enumerate(values):
    print(index, value)

0 4
1 10
2 3
3 8
4 -6

In [24]:
enumerate(values) # generator, they generate value for one time usage

In [25]:
x = list(enumerate(values))
print(x)

[(0, 4), (1, 10), (2, 3), (3, 8), (4, -6)]

In [26]:
index, value = (0, 4)

In [27]:
print(index, value)

0 4

In [29]:
vals = enumerate(values)
for val in vals:
    print(val)

(0, 4)
(1, 10)
(2, 3)
(3, 8)
(4, -6)

In [30]:
for val in vals:
    print(val)

In [31]:
for val in []:
    print(val)

In [34]:
vals = list(enumerate(values))
print(vals)

[(0, 4), (1, 10), (2, 3), (3, 8), (4, -6)]

In [35]:
for val in vals:
    print(val)

(0, 4)
(1, 10)
(2, 3)
(3, 8)
(4, -6)

In [36]:
for val in vals:
    print(val)

(0, 4)
(1, 10)
(2, 3)
(3, 8)
(4, -6)

In [37]:
for index, value in enumerate(values):
    print(index, value)

0 4
1 10
2 3
3 8
4 -6

In [38]:
for value in values:
    print(value)

4
10
3
8
-6

In [39]:
for index, value in enumerate(values, 1):
    print(index, value)

1 4
2 10
3 3
4 8
5 -6

In [40]:
values = [4, 10, 3, 8, -6]
for i in range(len(values)):
    values[i] = values[i] * 2

In [41]:
values

[8, 20, 6, 16, -12]

In [42]:
metals = ['Li', 'Na', 'K']
weights = [6.941, 22.98976928, 39.0983]
for i in range(len(metals)):
    print(metals[i], weights[i])

Li 6.941
Na 22.98976928
K 39.0983

In [43]:
metals = ['Li', 'Na', 'K']
weights = [6.941, 22.98976928, 39.0983]
for metal, weight in zip(metals, weights):
    print(metal, weight)

Li 6.941
Na 22.98976928
K 39.0983

In [44]:
zip(metals, weights)

In [45]:
x = zip(metals, weights)

In [46]:
for v in x:
    print(v)

('Li', 6.941)
('Na', 22.98976928)
('K', 39.0983)

In [47]:
for v in x:
    print(v)

In [ ]:
# range -- iterator -- can be used many times
# enumerate -- generator -- one time use
# zip -- generator -- one time use

In [48]:
x = tuple(zip(metals, weights))
for v in x:
    print(v)

('Li', 6.941)
('Na', 22.98976928)
('K', 39.0983)

In [49]:
for v in x:
    print(v)

('Li', 6.941)
('Na', 22.98976928)
('K', 39.0983)

In [50]:
elements = [['Li', 'Na', 'K'], ['F', 'Cl', 'Br']]
for inner_list in elements:
    for item in inner_list:
        print(item)

Li
Na
K
F
Cl
Br

In [51]:
info = [
    ['Isaac Newton', 1643, 1727],
    ['Charles Darwin', 1809, 1882],
    ['Alan Turing', 1912, 1954, 'alan@bletchley.uk']
]
for item in info:
    print(item, len(item))

['Isaac Newton', 1643, 1727] 3
['Charles Darwin', 1809, 1882] 3
['Alan Turing', 1912, 1954, 'alan@bletchley.uk'] 4

In [52]:
x = [1, 7, 3]

sum = 0
for ele in x:
    sum = sum *10 + ele

In [53]:
print(sum)

173

In [54]:
string1 = '1134000234'
string2 = ''.join(sorted([ele for ele in string1]))
string3 = ''.join(sorted([ele for ele in string1], reverse=True))
print(string1, string2, string3)

1134000234 0001123344 4433211000

In [55]:
store = [0] * 10

for char in string1:
    index = int(char)
    store[index] += 1

print(store)

[3, 2, 1, 2, 2, 0, 0, 0, 0, 0]

In [57]:
sorted_string = ''
for idx, ele in enumerate(store):
    sorted_string += str(idx) * ele
print(sorted_string)

0001123344

In [58]:
sorted_string[::-1]

'4433211000'

In [59]:
x = '    '

In [60]:
x.strip()

''

In [61]:
if not x.strip():
    print('x is empty')

x is empty

In [ ]:
line = '12.o'

try:
    value = float(line)
except:
    continue
    
###